
a {
    color: white !important;
    font-size: 18px;
    font-weight: 700;
} 
h2 {
    font-size: 40px;
    color:  #4C38EE;
    margin-bottom: 40px;
    text-transform: capitalize;
    line-height: 1.6;
    
    
}
p {
    font-size: 18px;
    line-height: 1.6;
}
header {
    background-image:linear-gradient(to right ,#4C38EE,#543DFF    );
}

.gradien-intro {
    background-image:linear-gradient(122.29deg, #4C38EE 40.13%, rgba(76, 56, 238, 0.3) 133.77%);;
}

.intro img {
    position: absolute;
    top: 0;
    right: 0;
}

main img {
    width: 100%;
}




@media(max-width: 800px) {
    h2 {
        font-size: 30px;
    }
    .intro img {
        position:static;
        width: 100%;

    }

    section {
        padding-left: 20;
        padding-bottom: 20px;

    }
}
section {
    width: 100% !important;
}

section .row {
    padding: 0 !important;
    width: 100% !important;
}

